extends layout 

block content 

    div.novo_professor_container
        h1= title
        a(href="/users/cadastro") Novo Professor
    
    table.table 
        thead 
            tr 
                th Nome 
                th Disciplina 
        tbody 
            each professor in professores 
                tr 
                    td= professor.nome 
                    td= professor.disciplina 